In [16]:
#pandas
import pandas as pd
arquivo = pd.read_excel('C:/Users/david.freitas/Desktop/Phyton/teste.xlsx')
arquivo.head()

   Sexo  Civil  Idade        Peso    Altura  Bonito
0     0      1     58   45.581413  0.059750       0
1     1      0     61   18.702640  0.766812       1
2     1      0     78    5.565550  0.190905       1
3     1      0     95  104.642315  4.081698       1
4     1      0     44  107.441012  3.042373       0

In [4]:
#alterando informações
arquivo['Bonito'] = arquivo['Bonito'].replace('white',1)
arquivo['Bonito'] = arquivo['Bonito'].replace('red',0)

In [17]:
#separar as variáveis entre preditoras e alvo
y = arquivo['Bonito']
x = arquivo.drop('Bonito', axis=1)

In [24]:
#criando os conjuntos de dados de treino e teste:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y, test_size = 0.3)

In [7]:
from sklearn.ensemble import ExtraTreesClassifier

In [25]:
#Criação do Modelo
modelo = ExtraTreesClassifier(n_estimators=1000)
modelo.fit(x_treino, y_treino)
resultado = modelo.score(x_teste, y_teste)
print("Acurácia:", resultado)

Acurácia: 0.5534591194968553

In [27]:
x_teste[21:23]

     Sexo  Civil  Idade        Peso    Altura
23      0      0     41  107.309483  0.921120
173     0      1     61  124.812488  3.509914

In [30]:
y_teste[21:40]

23     0
173    0
336    0
121    1
154    0
482    1
200    1
61     1
324    0
50     1
382    0
354    1
190    0
446    1
369    0
62     1
469    1
155    0
365    1
Name: Bonito, dtype: int64

In [31]:
previsao = modelo.predict(x_teste[21:40])
previsao

array([0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0],
      dtype=int64)